body{
    background-image: url('/static/images/ashim.jpg');
    background-attachment:fixed;
    background-position:center; 
    background-repeat: repeat;
    background-size:85rem; 
}

h1{
    font-family: 'Roboto', sans-serif;
    color:aliceblue;
}